@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Codec Pro';
    src: url('../static/fonts/Codec-Pro-Regular.ttf');
    font: normal;
  } */

.hide {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-22px);
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  .quote:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  .quote:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }


  /* tabs */


  
  .tab button.active {
    background-color: #ffffff;
    color: #310D7D;
  }

  .active, .acc:hover {
    background-color: #ffffff
  }
